<table>
{% for row in data %}
<tr>
<th>
 {{row.id}}
</th>
</tr>
<tr>
  {% for k in row.keys() %}
   <td style = "background-color: blue;">
   {{k}}:{{row[k]}} 
   </td>
  {% endfor %}
</tr>
{% endfor %}
</table>
