<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Socle UI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <ul>
        <li><button><a href="/urls"> Start test</a></button></li>
        <li> Ip host </li>
        <li> </li>
    </ul>
</nav>


<ul class="tabs">
    <table>
        {% if results|length %}
        {% for url, status in results.items() %}
        <tr>
            <td>
                <li class="{{status}}"><a href="">{{url}}</a></li>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</ul>
</body>
</html>